@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202024;
  font-family: "Roboto", sans-serif;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -156px;
  width: 100%;
}

/* Первая секция */
.gold-text {
  color: #f6c866;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1098px;
  padding-top: 156px;
  background: url("../images/blik.png") no-repeat 0 -156px;
  background-size: 100% 100%;
}

.question span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.1em;
  padding-top: 36.46px;
}

.horisontal-line {
  width: 1440px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
}

.question h1 {
  padding-top: 15px;
  padding-bottom: 40px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.56rem;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0.1em;
}

.img-wrapper {
  padding-top: 64.42px;
  height: 300px;
  width: 300px;
  background: url("../images/icon1.svg") no-repeat 50% 50%;
  background-size: 344.76px 344.61px;
}

.img-wrapper img {
  position: relative;
  top: 10px;
  left: 46px;
  width: 210px;
  height: 210px;
}

.description {
  width: 499.97px;
  height: 130.2px;
}

.description p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.56rem;
  line-height: 1.875rem;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.btn {
  width: 310.75px;
  height: 69.44px;
  background: linear-gradient(
      248.67deg,
      rgba(255, 255, 255, 0) 30.84%,
      rgba(255, 255, 255, 0.29) 46.06%,
      rgba(255, 255, 255, 0) 64.04%
    ),
    linear-gradient(
      90deg,
      rgba(246, 200, 102, 0.9) -6.2%,
      rgba(254, 173, 53, 0.9) 100%
    );
  border-radius: 50px;
  font-size: 1.25rem;
  line-height: 1.43rem;
  color: #ffffff;
}

.btn:last-of-type {
  margin-top: 30px;
}

.btn-wrapper p {
  margin-top: 40px;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}

.btn:active,
.btn:focus {
  outline: none;
}
.btn::-moz-focus-inner {
  border: 0;
}

/* Вторая секция */

.prediction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.prediction_first {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  width: 442.68px;
  height: 437.48px;
}

.prediction_first img {
  position: relative;
  top: -26%;
  width: 135px;
  height: 135px;
}

.text-wrapper {
  margin-top: -1.7rem;
  width: 365px;
  height: 225px;
}

.text-wrapper p {
  font-weight: normal;
  font-size: 1.56rem;
  line-height: 1.9rem;
  text-align: center;
  color: #ffffff;
}

.big-img {
  width: 1440px;
  height: 606px;
  margin-top: 70px;
  background: url("../images/image7.jpg") no-repeat 0 -170px;
  background-size: cover;
  opacity: 0.25;
  margin-bottom: 50px;
}

.absolute-p {
  position: relative;
  left: 0;
  top: -400px;
  width: 380.19px;
  height: 258.67px;
  font-size: 1.56rem;
  line-height: 2.1rem;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}

/* Третья секция */

.form-page {
  margin-top: -190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-page span {
  font-size: 1.56rem;
  line-height: 1.81rem;
  margin-bottom: 10px;
}

.form-page p {
  margin: 30px 0;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}

/* Четвертая секция (footer) */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/eye-1.svg") no-repeat 90% 0,
    url("../images/eye.svg") no-repeat 5% 90%;
}

.footer img {
  height: 10px;
}

.footer img:first-of-type {
  margin-top: 80px;
}

.footer img:last-of-type {
  margin-bottom: 100px;
}

.nice-text {
  padding: 50px 0;
  font-family: Bad Script;
  font-style: normal;
  font-weight: normal;
  font-size: 1.56rem;
  line-height: 2.1rem;
  text-align: center;
  color: #ffffff;
}

.hidden-footer {
  display: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.43rem;
  line-height: 0.56rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #9d9d9d;
}

@media (min-width: 600px) and (max-width: 1440px) {
  .horisontal-line {
    width: 100%;
  }
  .big-img {
    width: 100%;
  }
  .absolute-p {
    top: -500px;
  }
  .form-page {
    margin-top: -250px;
  }
  .footer {
    background: url("../images/eye-1.svg") no-repeat 113% 0,
      url("../images/eye.svg") no-repeat -10% 90%;
  }
}

@media (min-width: 300px) and (max-width: 595px) {
  .question {
    width: 100%;
    height: auto;
    background: url("../images/blik.png") no-repeat 0 185px;
    background-size: 112% 50%;
  }

  .question span {
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding: 20px 0 10px 0;
  }

  .horisontal-line {
    width: 100%;
    padding: 0;
  }

  .question h1 {
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 1.25rem;
    line-height: 1.43rem;
  }

  .img-wrapper {
    padding-top: 0px;
    height: 220px;
    width: 220px;
    background-size: 250px 250px;
  }

  .img-wrapper img {
    top: 33px;
    left: 35px;
    width: 150px;
    height: 150px;
  }

  .description {
    width: 288px;
    height: 75px;
    margin-top: 20px;
  }

  .description p {
    font-size: 1rem;
    line-height: 1.56rem;
    text-align: center;
  }

  .btn-wrapper {
    margin-top: 20px;
  }

  .btn {
    width: 179px;
    height: 40px;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .btn:last-of-type {
    margin-top: 20px;
  }

  .btn-wrapper p {
    margin-top: 20px;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .prediction {
    margin-top: 30px;
  }

  .prediction_first {
    margin-top: 40px;
    width: 255px;
    height: 252px;
  }

  .prediction_first img {
    position: relative;
    top: -25%;
    width: 80px;
    height: 80px;
  }
  .text-wrapper {
    width: 210px;
    height: 162px;
    margin-top: -50px;
  }

  .text-wrapper p {
    font-size: 1rem;
    line-height: 1.56rem;
  }

  .text-wrapper p .gold-text {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .br {
    display: none;
  }

  .big-img {
    width: 100%;
    height: 331px;
    margin-top: 70px;
    background: url("../images/image7.jpg") no-repeat 23% 0;
    background-size: cover;
    opacity: 0.2;
    margin-bottom: 30px;
  }

  .absolute-p {
    left: 0;
    top: -250px;
    width: 219px;
    height: 149px;
    font-size: 1rem;
    line-height: 1.56rem;
  }

  .absolute-p .gold-text {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .form-page {
    margin-top: -130px;
  }

  .form-page span {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .form-page p {
    margin: 20px 0;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .footer {
    width: 100%;
    background: url("../images/eye-1.svg") no-repeat 115% 6% / 90px 90px,
      url("../images/eye.svg") no-repeat -5% 70% / 50px 50px;
  }

  .footer img:first-of-type {
    margin-top: 60px;
  }

  .footer img:last-of-type {
    margin-bottom: 60px;
  }

  .nice-text {
    padding: 40px 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .hidden-footer {
    display: inline-block;
    font-size: 0.5rem;
    letter-spacing: 0;
  }
}
